{% extends 'base.html' %}
{% load static %}
<li class="nav-item mr-3">
    <a href="javascript:{document.getElementById('logout').submit()}" class="nav-link">
        <i class="fas fa-sign-out-alt"></i> Logout
    </a>
    <form action="{% url 'logout' %}" method="POST" id="logout">
        {% csrf_token %}
        <input type="hidden">
    </form>
</li>
{% block content %}
<button type="button" class="btn btn-primary btn-lg" style= "float: right;" 
      onclick="window.location.href='../tickets/create'"> Raise Ticket</button>
<h1 class="font-weight-bold text-capitalize" style="padding: 2%;">Welcome  {{ user.username }}</h1>
<table class="table">
    <tr><td>
<div class="card border-primary mb-3" style="max-width: 40rem;padding-left: 1%;">
    <div class="card-header" style="font-size: 30pt;">Your Tickets</div>
    <div class="card-body">
      <div style="padding-left:2%;padding-right: 2%">
        <table class=" table " style="overflow-y: scroll;">
            <thead class="table-primary">
                <tr>
                    <th>Title</th>
                    <th>Project</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for ticket in tickets %}
                {% if ticket.owner.username == user.username %}
                <tr>
                    <td>{{ticket.title}}</td>
                    <td>{{ticket.project.title}}</td>
                    <td>{{ticket.ticket_status.name}}</td>
                    <td><a href="{% url 'tickets:details' ticket.pk %}">Details</a></td>
                </tr>
                {% endif %}
                {% endfor %} 
            </tbody>
        </table>
        </div>
    </div>
  </div>
  </td><td>
  <div class="card border-primary mb-3" style="max-width: 40rem;padding-left: 1%;">
    <div class="card-header" style="font-size: 30pt;">Assigned Tickets</div>
    <div class="card-body">
      <div style="padding-left:2%;padding-right: 2%">
        <table class=" table" style="">
            <thead class="table-primary">
                <tr>
                    <th>Title</th>
                    <th>Project</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for ticket in tickets %}
                {% if ticket.assigned_to.username == user.username %}
                <tr>
                    <td>{{ticket.title}}</td>
                    <td>{{ticket.project.title}}</td>
                    <td>{{ticket.ticket_status.name}}</td>
                    <td><a href="{% url 'tickets:details' ticket.pk %}">Details</a></td>
                </tr>
                {% endif %}
                {% endfor %} 
            </tbody>
        </table>
        </div>
    </div>
  </div></td></tr></table>
<p>Developer</p>
{% endblock %}
