{% extends 'base.html' %}
{% block content %}
{% load static %}
<body class="about">
    <div>
        <div class="div-left">
            <h1 class="details-header">Project details</h1>
            <hr/>
            <dl class="row">
                <dt class="col-sm-6 large-font-1">Title</dt>
                <dd class="col-sm-6 large-font-1">{{project.title}}</dd>
                <dt class="col-sm-6 large-font-1">Description</dt>
                <dd class="col-sm-6 large-font-1">{{project.description}}</dd>
                <dt class="col-sm-6 large-font-1">Date Created</dt>
                <dd class="col-sm-6 large-font-1">{{project.created}}</dd>
                <dt class="col-sm-6 large-font-1">Last Modified</dt>
                <dd class="col-sm-6 large-font-1">{{project.updated}}</dd>
                <dt class="col-sm-6 large-font-1">Project Manager</dt>
                <dd class="col-sm-6 large-font-1">{{project.manager.username}}</dd>
            </dl>
            <hr/>
            <h3>Project Developers Team</h3>
            <ul class>
            {% if project.developers.all.count == 0 %}
            <p>No developers assigned</p>
            {% endif %}
            {% for developer in project.developers.all %}
                <li>{{ developer.username }}</li>
            {% endfor %}
            </ul>
        </div>.
        {% if project.manager == user %}
        <a class="btn btn-primary" href="{% url 'projects:assign' project.pk %}">Assign developers</a>
        <a class="btn btn-danger" href="{% url 'projects:delete' project.pk %}">Delete project</a>
        {% endif %}
    </div>
</body>
{% endblock %}
