{% extends 'base.html' %}
{% block content %}
{% load static %}
<body class="about">
    <div>
        <h1 class="display-4 my-4">About Issue Tracker</h1>
        <hr/>
        <p class="display-4 " style="font-size: 20pt;color: black ;">
            Issue Tracker is an application to track issues or errors in software. Issue Tracker uses a ticketing system
            to record bugs or other issues in the software development process on a per-project basis. It implements 
            user and role-level security to ensure only authorized users can access tickets and projects.
        </p>
        <p class="display-4 " style="font-size: 20pt;color: black ;">
            The application was built using Django framework and Python with an SQLite database. Development was completed with 
            Visual Studio Code .<br><br>
            Bug Tracker has four roles that users can be assigned to:
            <ul class="left-align-text" style="font-size: 20pt;color: black ;">
                <li><b>End User</b></li>
                <ul>
                    <li>Create new tickets for assigned projects</li>
                    <li>View and edit tickets they have submitted</li>
                </ul>
                <li><b>Developer</b></li>
                <ul>
                    <li>Developer can raise new tickets</li>
                    <li>View and edit tickets they have submitted</li>
                    <li>View and edit tickets they have been assigned</li>
                    <li>Provide solutions to the issues raised by the End User</li>
                </ul>
                <li><b>Project Manager</b></li>
                <ul>
                    <li>Project Manager can Raise tickets</li>
                    <li>View and edit tickets they have submitted</li>
                    <li>Project Manager can view tickets associated with their project(s)</li>
                    <li>Create or delete projects</li>
                    <li>Assign users to projects</li>
                    <li>Assign a developer to a ticket</li>
                    <li>Archive projects</li>
                </ul>
                <li><b>Admin</b></li>
                <ul>   
                    <li>Admin can view critical databases</li>
                    <li>Assign users to roles</li>
                    <li>Remove Users</li>
                </ul>
            </ul>
        </p>
        <p class="display-4 " style="font-size: 20pt;color: black ;">Some properties of tickets available by default are given below</p>
        <ul class="left-align-text" style="font-size: 20pt;color: black ;">
            <li><b>Ticket Priorites</b></li>
            <ul>
                <li>Crtical</li>
                <li>High</li>
                <li>Medium</li>
                <li>Low</li>
            </ul>
            <li><b>Ticket types</b></li>
            <ul>
                <li>Error report</li>
                <li>Service request</li>
                <li>Feature request</li>
            </ul>
            <li><b>Ticket statuses</b></li>
            <ul>
                <li>New</li>
                <li>Waiting for support</li>
                <li>Waiting for customer</li>
                <li>On hold</li>
                <li>Resolved</li>
            </ul>
        </ul>
    </div>
</body>
{% endblock %}
