{% extends 'base.html' %}
{% block content %}
{% load static %}

<body class="background">
    <div class="jumbotron index-jumbotron">
        <h1 class="display-3 center-align-text text-light" style="font-size: 55pt;">Issue Tracker</h1>
        <p class="lead center-align-text text-light" style="font-size: 20pt;">
            Issue Tracker is a web application for tracking bugs and feature requests of a project.
            Issue Tracker uses a ticketing system to record bugs or other issues in the software development process on a per-project basis. 
            It implements user- and role-level security to ensure only authorized users can access tickets and projects.
        </p>
    </div>
</body>
{% endblock %}
