### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media

# Static files after running collectstatic
# tracker/staticfiles/

# Distribution / packaging
.Python

# pipenv
# Pipfile.lock

# vscode workspace settings
.vscode

# Project secrets file
psecrets.py