.center-align-text {
	text-align: center;
}
.left-align-text {
	text-align: left;
	font-size: 3.5rem;
	font-weight: 300;
	line-height: 1.2;
	padding-left: 70pt;
	padding-right: 70pt;
}
.logo {
	position: relative;
}
.background {
	background-image: url("../img/index.jpeg");
	background-repeat: no-repeat;
	background-size: 100%;
}
.jumbotron {
	background: rgba(122, 121, 121, 0.4);
}
.about {
	background-color: aliceblue;
	background-repeat: repeat;
	background-size: 100%;
}
.display-4 {
	padding-left: 50pt;
	padding-right: 50pt;
}
.div-left {
	text-align: left;
	margin: auto;
	padding-left: 1.8em;
}
.large-font-1 {
	font-size: larger;
}
.details-header {
	padding-top: 0.4em;
}
#message {
	position: fixed;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: 999;
}
