{% extends 'base.html' %}
{% block content %}
{% load static %}
<body class="about">
    <div>
        <div class="div-left">
            <h1 class="details-header">Ticket details</h1>
            <hr/>
            <dl class="row">
                <dt class="col-sm-6 large-font-1">Title</dt>
                <dd class="col-sm-6 large-font-1">{{ticket.title}}</dd>
                <dt class="col-sm-6 large-font-1">Description</dt>
                <dd class="col-sm-6 large-font-1">{{ticket.description}}</dd>
                <dt class="col-sm-6 large-font-1">Type</dt>
                <dd class="col-sm-6 large-font-1">{{ticket.ticket_type.name}}</dd>
                <dt class="col-sm-6 large-font-1">Priority</dt>
                {% if ticket.ticket_priority.name %}
                <dd class="col-sm-6 large-font-1">{{ticket.ticket_priority.name}}</dd>
                {% else %}
                <dd class="col-sm-6 large-font-1">Not Assigned</dd>
                {% endif %}
                <dt class="col-sm-6 large-font-1">Date Created</dt>
                <dd class="col-sm-6 large-font-1">{{ticket.created}}</dd>
                <dt class="col-sm-6 large-font-1">Last Modified</dt>
                <dd class="col-sm-6 large-font-1">{{ticket.updated}}</dd>
                <dt class="col-sm-6 large-font-1">Project</dt>
                <dd class="col-sm-6 large-font-1">{{ticket.project.title}}</dd>
                <dt class="col-sm-6 large-font-1">Opened by</dt>
                <dd class="col-sm-6 large-font-1">{{ticket.owner.username}}</dd>
                <dt class="col-sm-6 large-font-1">Status</dt>
                <dd class="col-sm-6 large-font-1">{{ticket.ticket_status.name}}</dd>
            </dl>
            {% if ticket.project.manager == user %}
            <a href="{% url 'tickets:assign' ticket.pk %}">Assign a developer</a>
            {% endif %}
        </div>
    </div>
</body>
{% endblock %}
